<section>

    <div class='center'>

        <button (click)='openAddNewUserDialog()' class='btn btn-add width-160px font-size-18 margin-5'>Add new User</button>

        <button (click)='openFindUser()' class='btn btn-find width-160px font-size-18 space-between margin-5'>Find a User</button>

        <button (click)='loadUsers()' class='btn btn-load width-160px font-size-18 space-between margin-5'>Load Users</button>

    </div>

    <hr class='hr-25'>

    <div *ngFor='let user of users'>

        <div class='user-list'>

            <div>

                <p>Name: {{user.name}}, CPF: {{user.cpf}}</p>

                <div>

                    <button class='btn btn-update font-size-16 width-95px'>Update</button>
                    <button class='btn btn-delete font-size-16 width-95px'>Delete</button>

                </div>

            </div>

        </div>

    </div>

    <div *ngIf='users == null'>

        <p class='center'>not users loaded</p>

    </div>

</section>