@media (min-width:1024px) {
    .user-list>div {
        width: 100%;
        display: inline-flex;
        position: relative;
    }
    .user-list>div>p {
        padding: 0 0 0 10%;
    }
    .user-list>div>div>button {
        margin: 10px;
    }
    .user-list>div>div {
        position: absolute;
        right: 20px;
    }
}

@media (max-width:1024px) {
    .user-list>div {
        margin: 15px;
    }
    .user-list>div>p {
        text-align: justify;
    }
    .user-list>div>div {
        text-align: center;
    }
    .user-list>div>div>button {
        margin: 3px;
    }
}

.user-list {
    width: 100%;
    border: 1px solid #1e1e26;
    border-radius: 4px;
    margin: 10px;
}