<section>

    <div class='center'>

        <button (click)='openAddNewUserDialog()' class='btn btn-add width160 space-between'>Add new User</button>

        <button class='btn btn-find width160 space-between'>Find a User</button>

        <button class='btn btn-load width160 space-between'>Load Users</button>

    </div>

    <hr>

    <div *ngFor='let user of users'>

        <div class='user-list'>

            <div>

                <p>Name: {{user.name}}, CPF: {{user.cpf}}</p>

                <div>

                    <button class='btn btn-update width95'>Update</button>
                    <button class='btn btn-delete width95'>Delete</button>

                </div>

            </div>

        </div>

    </div>

    <div *ngIf='users == null'>

        <p class='center'>not users loaded</p>

    </div>

</section>