* {
    font-family: 'Poppins', sans-serif;
    padding: 0 5%;
}

#content {
    /* position: relative; */
    padding-top: 70px;
    /* padding-bottom: 48px; */
}

#main {
    position: relative;
    display: block;
}