<div>

    <h1>Add New User</h1>

    <form [formGroup]='userForm' (ngSubmit)='add()'>

        <div>

            <div>

                <label for='cpf'>CPF:</label>
                <input type='text' formControlName='cpf' />

                <ul *ngIf='!cpf.pristine && cpf.errors'>

                    <li *ngIf='cpf.errors.required'>

                        The CPF cannot be null.

                    </li>

                    <li *ngIf='cpf.errors.cpfInvalidLength'>

                        The length of CPF is 11 characters.

                    </li>

                </ul>

            </div>

            <div>

                <label for='name'>Name:</label>
                <input type='text' formControlName='name' />

                <ul *ngIf='!name.pristine && name.errors'>

                    <li *ngIf='name.errors.required'>

                        The Name cannot be null.

                    </li>

                    <li *ngIf='name.errors.maxlength'>

                        The maximum length of Name is 120 characters.

                    </li>

                </ul>

            </div>

            <hr class='center'>

            <div class='center'>

                <button mat-dialog-close class='btn btn-delete'>Close</button>
                <button [disabled]='!userForm.valid' type='submit' [className]='userForm.valid ? "btn btn-add" : "btn btn-disabled"'>Add</button>

            </div>

        </div>

    </form>

</div>